.Container {
    border: 1px solid black;
    margin: 0% 25% 5% 25%;
}

.Header {
    background-color: #F9F8F9;
    width: 100%;
    margin: 0;
    padding: 0 10%;
    font-weight: 700;
}

.Avatar {    
    width: 100%;
    align-content: center;
    margin: 10%;
    text-align: center;
}


.Content {
    padding: 10px 15px 20px 15px;
    border-left: 1px solid #E5E4E5;
    margin-bottom: 20px;
}

.Selection {
    display: block;
    width: 80%;
}

.Button {
    width: 100%;
    color: #57BEA8;
    border: 1px solid #57BEA8;;
    border-radius: 5px;
    background-color: #FFF;
}

.Button:focus {outline:0;}

input[type="radio"] {
    margin-right: 10px;
  }